.chat {
  &__wrapper {
    margin: 10px 150px;
    background-color: #e8e8e8;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    @media (max-width: 1044px) {
      margin: 5px 30px;
    }
    @media (max-width: 790px) {
      margin: 5px 0px;
    }
  }

  &__messages {
    flex: 1;
    overflow-y: auto;
  }
}

.messages {
  &__list {
    font-size: 19px;
    color: #000;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
  }
}
