body {
  color: #fff;
  font-size: 20px;
  min-height: 100vh;
  background-color: #a9e5d1;
}

.container {
  max-width: 1024px;
  padding: 0px 10px;
  margin: 0 auto;
  @media (max-width: 1044px) {
    max-width: 768px;
  }
  @media (max-width: 790px) {
    max-width: none;
  }
}
